/*-- FONT ROBOTO --*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/*--- contenu ---*/
.container{
    width: 100%;
    height: 1080px;
    z-index: 0;
    background-image: url('../image/fast.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
/*--- Header ---*/
.header{
    max-height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 150px;
}
.logo{
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
    font-style: italic;
}
.logo span{
    color: #3882f8;
}
ul{
    list-style: none;
    display: flex;
    gap: 25px;
}
a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    font-style: italic;
    position: relative;
    letter-spacing: 0.5px;
    padding: 0 10px;
}
a::after{
    content: "";
    position: absolute;
    background-color: #3882f8;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s linear;
}
a:hover::after{
    width: 100%;
}
   
/*--- hero ---*/
.hero{
    height: 93vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 150px;
}
.title h1{
    font-size: 60px !important;
    font-weight: 900;
    color: #f9faf8;
    font-style: italic;
}
.title p{
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 12px;
    font-style: italic;
}
.title .signup{
    background-color: #3882f8;
    color: #f9faf8;
    border: none;
    font-size: 12px;
    padding: 8px 32px;
    border-radius: 8px;
    font-weight: 600;
    font-style: italic;
    cursor: pointer;
    transition: 9ms linear ease-in;
}
.title .signup:hover{
    background-color: #388ef8;
}
.picture{
    width: 900px;
    height: 500px;
    background-image: url('../image/xxx.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 4px solid #f9faf8;
}

/*---------- boxing pictures -----------*/
.boxing{
    padding: 50px 150px;
    text-align: center;
}
.boxing h2{
    font-size: 36px;
    margin-bottom: 32px;
}
.box{
    max-width: 200px;
}
.contain2{
    display: flex;
    justify-content: center;
    gap: 52px;
}
.pict, .pict2, .pict3, .pict4{
    width: 200px;
    height: 200px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 4px solid #3882f8;
    background-image: url('/image/vind.png');
    background-position: top;
    background-size: cover;
    
}
.pict2{
    background-image: url('/image/letty.png');
}
.pict3{
    background-image: url('/image/jacob.png');
}
.pict4{
    background-image: url('/image/tyrese.png');
}
.text{
    font-weight: 600;
    padding: 10px 0px;
}
/*---------- quotes citations -----------*/
.quotes{
    background-color: #171717 rgba(0, 0, 0, 0.7);
    z-index: 1000;
    background-image: url('/image/béton.jpg');
    background-position: center;
    background-size: cover;
    height: 40vh;
    padding: 50px 500px 0px 500px;
}
.quotes p{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #171717;
    margin-top: 60px;
}
.quotes p span{
    font-weight: 600;
    font-size: 40px;
    color: #171717;
}
.actors{
    padding-right: 160px;
}
.actors p{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    font-style: italic;
    text-align: right;
    color: #e5e7eb;
}

/*---------- Newsletter -----------*/
.newsletter{
    padding: 80px 250px;
    background-color: #171717;
}
.card{
    background-color: #3882f8;
    padding: 50px 250px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    font-style: italic;
}
.card p span{
    font-size: 21px;
    color: #f9faf8;
    font-weight: 700;
}
.card p{
    color: #e5e7eb;
}
.btn{
    background-color: transparent;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    font-size: 12px;
    font-style: italic;
    padding: 5px 42px;
    border-radius: 8px;
    font-weight: 600;
    transition: 1s ease linear;
    cursor: pointer;
}
.btn:hover{
    background-color: #f9faf8;
    color: #3882f8;
    font-weight: 600;
}

/*---------- Footer -----------*/
.footer{
    background-color: black;
    height: 8vh;
    color: #f9faf8;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer p{
    font-size: 18px;
    font-weight: 400;
    font-style: italic;
}